<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="static\CSS\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block head %}{% endblock head %}
  <title>{% block title %}{% endblock title %} | WeShares</title>
  <style>
    footer{

    
background-color: rgb(237, 237, 237);
color: black;
margin-top: 20vh;

}
  </style>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-light"  style="background: linear-gradient(-45deg, rgb(44, 6, 65), rgb(22, 34, 72), rgb(44, 6, 65), rgb(50, 22, 72)); color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WeShares</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin" target="_blank">Admin</a>
          </li>


        </ul>

       

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" style="color: black;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: black;">Register Here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form method="post" action="/signup">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required type="text" class="form-control" id="username" name="username"
                      aria-describedby="emailHelp" placeholder="Choose unique @username (must be alphanumeric)">

                  </div>

                  <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input required type="text" class="form-control" id="fname" name="fname"
                      aria-describedby="emailHelp" placeholder="Enter first name">

                  </div>

                  <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" aria-describedby="emailHelp"
                      placeholder="Enter last name">

                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                      placeholder="Enter your email ID">

                  </div>
                  <div class="mb-3">
                    <label for="pass1" class="form-label">Password</label>
                    <input required type="password" class="form-control" id="pass1" name="pass1"
                      placeholder="Create your password">
                    <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
                  </div>

                  <div class="mb-3">
                    <label for="pass2" class="form-label">Re-enter Password</label>
                    <input required type="password" class="form-control" id="pass2" name="pass2"
                      placeholder="Confirm your password">
                  </div>


                  <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" style="background-color: purple; border-color: purple;">Register</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>




        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="color: black;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Login Here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form action="/login" method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="loginusername" class="form-label">Username</label>
                    <input type="text" placeholder="Enter username" class="form-control" name="loginusername"
                      id="loginuserid" aria-describedby="emailHelp">

                  </div>
                  <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" placeholder="Enter your password" class="form-control" name="loginPassword"
                      id="loginPassword">
                  </div>
                  <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" style=" background-color: purple; border-color: purple;"> Log In</button>
                  </div>
                  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
              </div>

            </div>
          </div>
        </div>
        <form class="d-flex mx-4 mb-2 mt-2" method="get" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"
            id="query">
          <button class="btn " style="color: purple; border-color: purple;" type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
        
       <div class="d-flex mx-4 ">

        <big class="my-2" style="font-weight: 400; padding-right: 10px;">{{request.user}}</big>
        <img src="static/pro.png"  class="rounded-circle my-2" alt="" height="32px">
        <button type="button" class="btn  mx-4 my-2" style="background-color: purple; border-color: purple;">
          <a href="/logout" style="text-decoration: none; color: white; ">Logout</a>
        </button>
       </div>
     
      
        {% else %}
        <!-- Button trigger modal -->

        <div class="d-flex mx-4 ">  
          <button type="button" class="btn btn-success my-2 "  style="background-color: purple; border-color: purple;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Sign Up
          </button>

        <button type="button" style="background-color: purple; border-color: purple;" class="btn btn-success mx-2 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Login
        </button></div>
       
        {% endif %}
      </div>
    </div>
  </nav>



  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0  py-0 " role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}



  {% block body %}{% endblock body %}








  <footer class="text-center     "   id="contact " style="margin-top: 68vh; background: linear-gradient(-45deg, rgb(44, 6, 65), rgb(22, 34, 72), rgb(44, 6, 65), rgb(50, 22, 72));  color: white;"   >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
          <!--Call -->
          <a class="btn btn-outline-light btn-floating m-1" href="tel:7017501776" role="button"
          ><i class="fa fa-phone"></i
        ></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/gaurav-bhatt-b927321a6/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

         <!-- Github -->
         <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/gaurav_04_01/" role="button"
         ><i class="fab fa-instagram"></i
       ></a>

      

        <!-- Email -->
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:gauravbhatt0401@gmail.com" role="button"
          ><i class="fa fa-envelope"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center pb-3" >
      © 2023 Copyright <br>
      <a class="text-light" href="#">Design & Developed by Gaurav Bhatt</a>
    </div>
    <!-- Copyright -->
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>