{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block contactactive %} active{% endblock contactactive %}


{% block body %}
{% block css  %}

<style>

body {
    background: linear-gradient(-45deg, rgb(44, 6, 65), rgb(22, 34, 72), rgb(44, 6, 65), rgb(50, 22, 72));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: whitesmoke;
    font-family: 'poppins', sans-serif;
    }
    
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
 }

</style>

{% endblock %}




<div class="container-fluid">
    <h1 class="text-center py-4">Contact Us</h1>

    <div class="container">
        <form method="post" action="contact"> 
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter your Email address">

            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="phone" name="phone" class="form-control" id="phone" placeholder="Enter your Contact Number">

            </div>
            <div class="form-group">
                <label for="desc">Describe your query</label>
                <textarea class="form-control" aria-label="With textarea" name="desc" rows="3"></textarea>
            </div>
            <br>

            <button type="submit" class="btn btn-primary"  style="background-color: purple; border-color: purple;">Submit</button>
        </form>
    </div>
</div>





{% endblock body %}