{% extends 'base.html' %}

{% block title %} Search Results{% endblock title %}
{% block js %}
   <script>
    let previews= document.getElementByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}
{% block body %}


<div class="container my-4">
     
    <div class="card" style=" background-color: rgb(50, 22, 72);">
        <div class="card-header">
          <h3>Search Results</h3>
          {% if allpost|length < 1 %}
          <p  >No Search Results found.
          </p>
        
       {% endif %}
        </div>
       
        {% for post  in  allpost %}
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 "  style="color: rgb(178, 47, 71);">By-{{post.author}}</strong>
            <h1 class="mb-0">{{post.title}}</h1>
            <div class="mb-1 text-muted">{{post.date}}</div>
            <p class="mb-auto"> <div class="preview">{{post.content| truncatechars:500 | safe}}</div></p>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary" style="background-color: purple; border-color: purple;"> Continue reading</a>
            </div>
          </div>

          {% endfor %}

        
      </div>

    
</div>
{% endblock body %}