{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block blogactive %} active{% endblock blogactive %}

{% block body %} 



<div class="container my-4">

    <div class="card">
        <div class="card-header">
          <h3>Articles by WeShares Community</h3>
        </div>

        {% for post  in  allpost reversed %}
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">{{post.slug}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.date}}</div>
            <p class="mb-auto">{{post.content| truncatechars:500}}</p>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary"> Continue reading</a>
            </div>
          </div>

          {% endfor %}

        
      </div>

    
</div>



{% endblock body %}